.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
  padding: 0;
}
.main{
  background-color: black;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 15vh;
}
.introimgcontainer{
  will-change: transform;
  height: 100dvh;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
  animation-fill-mode: forwards;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}
.imgblock{
  height: 100%;
  width: 100%;
}
.introframe{
  height: 100dvh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.introheading{
  will-change: transform;
  font-size: 1.75rem;
  color:aliceblue;
  font-style: italic;
  width: 80%;
  margin-bottom: 5vh;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.introcomments{
  will-change: transform;
  font-size: 1rem;
  color:aliceblue;
  opacity: 0;
  width: 50%;
  text-align: center;
  z-index: 1;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}
.wordframe{
  color: rgb(90, 90, 90);
  font-size: 3.75rem;
  font-family: 'GoogleSans';
  font-weight: 600;
  padding-left: 5vw;
  line-height: 85%;
  display: flex;
}
.wordframe:hover{
 cursor: pointer;
 color: white;
}

.focusarr{
  position: absolute;
  transform: translateX(-3rem);
}
.wordframe .focusarr {
  visibility: hidden;
}
.wordframe:hover .focusarr {
  visibility: visible;
  animation: blink 1s step-start 0s infinite;
}

.linktext{
  white-space: nowrap;
}
.nonlinktext{
  white-space: nowrap;
  margin: 0;
}
.linktext:hover{

}


/* Mobile */
@media (max-width: 700px) {
.wordframe{
  font-size: 3rem;
  word-spacing: -1.25rem;
  letter-spacing: -0.05rem;
  font-family: 'GoogleSans';
  font-weight: 600;
  padding-left: 5vw;
  line-height: 85%;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.introimgcontainer{
  height: 45dvh;
  top: 30dvh;
}
.imgblock{
  transform: scale(1.75);
}
.introheading{
  font-size: 1.5rem;
}
.introcomments{
  width: 95%;
  font-size: .9rem;
}
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .0;
  }
}